@page
@model web.ResultModel
@{
    var result = (Dictionary<string, List<string>>)ViewData["result"];
    var key = (string)ViewData["key"];
}

<h2>Result</h2>
<ul>
    @foreach (var uri in result[key])
    {
        <li>
            <a asp-area="" asp-page=Term asp-route-searchString=@uri>
                @System.Web.HttpUtility.UrlDecode(System.Text.RegularExpressions.Regex.Match(uri, "#(.*?)>").Groups[1].Value)
            </a>
        </li>
    }
</ul>

