@page "{term}"
@model web.TermModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<h2>Whakamārama</h2>
<ul>
    <li> test </li>
</ul>

@*<ul>
    @for (int i = 0; i < (int)ViewData["NumTimes"]!; i++)
    {
        <li>@ViewData["Message"]</li>
    }
</ul>*@

